@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
    --secondary-color: #000000;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  
  /* background-color: #102C57; */
  background-color:hsla(217,50%,52%,1);
    background-image:
    radial-gradient(at 91% 83%, hsla(189,100%,56%,0.57) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(2,32%,84%,0.33) 0px, transparent 50%);
    /* background:
        linear-gradient(
            90deg,
            rgba(158, 168, 255, 0.6),
            rgba(55, 181, 255, 0.6)
        ); */
  /* color: #f8f0E5; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}